.daily-tab{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr repeat(12, 0.8fr);
    
    
    
    
    .tab-header{
        border-bottom: 2px dashed blue;
        min-height: 3rem;
    }

    .week .tab-day, .tab-date{
        font-weight: 600;
        letter-spacing: 0.1rem;
        font-size: 1em;
    }

    .tab-cell{
        width: 100%;
        font-size: 1.2;
    }

    .tab-cell:nth-child(2n){
        background-color: grey;
    }


    .tab-set{
        border: 1px solid black;
    }

    

    .week{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.6rem;
        color: var(--maincolor);
        text-shadow: 1px 1px var(--darkshade);
    }
    
}