.weekly-calendar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    
    @media screen and (min-width: 750px) {
        grid-template-columns: repeat(8, 1fr);
    }
}