.logo {
    font-size: clamp(1.2rem, 1vw + 1.1rem, 2rem);
    text-shadow: #bb8829 4px 4px, #9b732a 8px 8px, #86662a 12px 12px;
    font-style: italic;
    white-space: nowrap;
    text-decoration: none;
  }

.logo:hover{
    color: var(--maincolor);
}
  
  .wrap{
    white-space: initial;
    padding-left: 7px;
    text-indent: -7px;
    line-height: 1.08;
  }