.logo {
  font-size: clamp(1.3rem, 1vw + 1.2rem, 2rem);
  transform: translateY(-10px);
  text-shadow: #bb8829 4px 4px, #9b732a 8px 8px, #86662a 12px 12px;
  font-style: italic;
  white-space: nowrap;
}

.wrap {
  white-space: initial;
  padding-left: 7px;
  text-indent: -7px;
  line-height: 1.08;
}
