@use "../../../global.scss" as global;
@use "../../../pages/styles/booking.scss" as booking;

.booking-court{
    @include global.flex-as-column;

    #court-container{
        @include global.flex-as-row;
        gap: 0 4rem;
        flex-wrap: wrap;
        
        input{
            @include booking.inline;
        }

        @media screen and (max-width: 350px) {
            flex-direction: column;
        }
    }
}