
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--darkshade);
    width: 100%;
    padding: 1rem;
    min-height: 2rem;
    gap: 2rem;
  }
  
  footer,
  footer a {
    color: var(--lightshade);
  }

  
address {
    text-align: center;
    flex-basis: 10%;
  }

footer .logo  {
    flex-basis: 10%;
  }