@mixin inline {
    
  width: unset;
  margin: 0 0.5em;
  vertical-align: middle;
}

.booking {
&.page-container {
  h2 {
    text-align: center;
    letter-spacing: 0.3em;
    margin-bottom: 5px;
  }

  h2,
  h3,
  .large-label {
    color: var(--darkaccent);
  }
  h3,
  .large-label {
    padding-top: 0;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.large-label {
  font-size: 1.2em;
  font-weight: 800;
}

form {
  text-align: left;
  border: 2px solid var(--divider-color);
  border-radius: 10px;
}

fieldset {
  border: 0;
  padding: 1% 0;
  margin: 0% 2%;
  border-bottom: 2px dashed var(--divider-color);
}

fieldset:last-of-type {
  border-bottom: 0;
}

label {
  display: block;
  margin: 0.5em 0;
  font-weight: 600;
}

input,
textarea,
select {
  margin: 5px 0 10px 0;
  padding: 0.4rem;
  width: 100%;
  min-height: 2em;
  border: 1px solid var(--darkaccent);
  border-radius: 5px;
  accent-color: var(--darkaccent);
}


input[type="date"] {
  display: block;
  min-width: 200px;
  
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 0 4rem;
  flex-wrap: wrap;
}

#submit {
  display: block;
  margin: 1em auto;
  padding: 10px;
  background-color: var(--darkshade);
  color: white;
  font-family: "Open-sans", sans-serif;
  font-size: 1em;
  width: 20%;
  border-radius: 10px;
}

#submit:hover {
  background-color: var(--darkaccent);
}

#submit::first-letter {
  font-size: 1.2em;
}
}
