$layout-breakpoint-large: 850px;
@mixin respond-medium {
  @media screen and (min-width: $layout-breakpoint-large) {
    @content;
  }
}

.home {
  .page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    //Just for future notes, we can also do this with sass
    @include respond-medium {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      gap: 15px;
    }
  }
  .index-articles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .bordered {
    border-top: 2px dotted var(--divider-color);
    border-bottom: 2px dotted var(--divider-color);
  }

  .info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 5px;
  }

  .index-article:first-child {
    border-top: 0;
    /* Ugly solution but removing gap-top for first only  */
    margin-top: -1.5rem;
  }

  .info-block a:hover {
    color: var(--maincolor);
  }

  .index-article h2 + p:first-letter {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--darkaccent);
  }

  .info-block a,
  .link-text {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--darkaccent);
  }

  .side-column {
    height: fit-content;
    text-align: center;
  }

  .side-column .bordered:not(:first-of-type) {
    border-top: 0;
  }

  .side-column-article {
    border-top: 2px dashed var(--divider-color);
  }

  .side-column-article h3 {
    font-size: small;
    font-weight: 600;
  }

  .side-column-article p {
    font-size: small;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
  }

  @media screen and (min-width: 850px) {
    .side-column {
      max-width: 15vw;
    }

    .index-articles {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
    }

    .index-article {
      flex-grow: 1;
      flex-basis: 25vw;
    }
    .index-article p {
      text-align: left;
    }

    .index-article:first-child {
      border-top: 2px dotted var(--divider-color);
      /* Ugly solution but removing gap-top for first only  */
      margin-top: 0;
    }
  }
}
