.header-nav .vr {
  color: var(--maincolor);
  width: 2px;
}

.hamburger {
  transform: translateY(1px);
}

.header-nav a,
.header-nav i {
  color: var(--maincolor);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  margin-inline: 1rem;
}

.header-nav a:hover,
.header-nav i:hover {
  transition: 0.3s;
  color: var(--sidenavbordercolor);
  /* animation: color-change 2s infinite; */
}

.header-nav i {
  color: var(--maincolor);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: -0.2em;
  background-color: var(--sidenavbordercolor);
  transform-origin: bottom right;
  transition: transform 0.33s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
