@use "../../global.scss" as global;

.header {
  @include global.flex-as-row;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: var(--darkshade);
  padding-inline: 4vw;
  padding-block: 0.5rem;
 
}
