.header {
  background-color: var(--darkshade);
  padding: 2rem;
}

.header .logo {
  font-size: clamp(1rem, 1.2rem + 1vw, 2rem);
}

.header a {
  color: var(--maincolor);
}

.header a:hover {
  transition: 0.3s;
  color: var(--sidenavbordercolor);
}
